{% extends "bases.html" %}
{% block title %}CHICHA San Chen - Retrieve MC{% endblock %}
{% block content %}
<br><br>
<style>
 html,body{text-align:center;}
</style>
<br>
<h1 class="display-4">MC Records</h1>
<br><br>
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <th>ID</th>
            <th>Starting Date</th>
            <th>Ending Date</th>
            <th>Proof</th>
            <th></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
                 {% for m in mc_list %}
           <tr>
                    <td>{{m.get_staff_id() }}</td>
                    <td>{{m.get_starting_date() }}</td>
                    <td>{{m.get_end_date() }}</td>
                    <td>{% if m.get_proof() %}
        <a href="{{ url_for('view_proof', staff_id=m.get_staff_id()) }}" target="_blank" class="btn btn-info">View Proof</a>
    {% else %}
        No Proof Available
    {% endif %}</td>
                    <td><a href="/updatemc/{{m.get_staff_id() }}" class="btn btn-warning">Update</a></td>
                    <td>
                        <form action="{{url_for('delete_mc', id=m.get_staff_id())}}" method="POST">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal_{{m.get_staff_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{m.get_staff_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Record</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete MC record of ID: {{ m.get_staff_id() }} for the duration {{ m.get_starting_date() }} to {{ m.get_end_date() }}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
                        </form>
            </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
{% endblock %}

